.left-menu-container{
    background: #434343;
}

.header-container{
    background: #1e1e1e;
}

.header-container svg{
    fill: #fff;
}

.header-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.body-container{
    background-color: #000000;
}

.compose-btn{
    background-color: #434343;
}

.compose-btn > svg{
    fill: #ffffff;
}

.md-wizard-background{
    background-color: rgba(0, 0, 0, 0.5);
}

.md-wizard{
    background-color: #424242;
    color: #fff;
}

.background-focus{
    background: #757575;
    color: #ffffff;
}

.background-passed{
    background: #555555;
    color: #000000;
}

.background-passed:hover{
    background: #666666;
}

.primary-btn{
    background-color: #757575!important;
    color: #ffffff!important;
}

.primary-btn:hover{
    background-color: #7d9596!important;
}

.cancel-btn{
    background-color: #e0e0e0!important;
}

.cancel-btn:hover{
    background-color: #d5d5d5!important;
}

.md-wizard-step-container-top,
.md-wizard-step-container-left{
    background-color: #333333;
}

.left-menu-container .left-menu-item-left-svg{
    fill: #ffffff!important;
}

.left-menu-container .left-menu-item-label > span{
    color: #ffffff!important;
}

.left-menu-nested{
    background-color: #555555;
}