.left-menu-container{
    background: #f2f2f2;
}

.header-container{
    background: #09aeef;
}

.header-container svg{
    fill: #fff;
}

.header-button:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.body-container{
    background-color: #ffffff;
}

.compose-btn{
    background-color: #DB4437;
}

.compose-btn > svg{
    fill: #ffffff;
}

.md-wizard-background{
    background-color: rgba(0, 0, 0, 0.5);
}

.md-wizard{
    background-color: #ffffff;
    color: #000000;
}

.background-focus{
    background: #09aeef;
    color: #ffffff;
}

.background-passed{
    background: #e0e0e0;
    color: #000000;
}

.background-passed:hover{
    background: #c3c3c3;
}

.primary-btn{
    background-color: #09aeef!important;
    color: #ffffff!important;
}

.primary-btn:hover{
    background-color: #018ece!important;
}

.cancel-btn{
    background-color: #e0e0e0!important;
}

.cancel-btn:hover{
    background-color: #d5d5d5!important;
}

.md-wizard-step-container-top,
.md-wizard-step-container-left{
    background-color: #eeeeee;
}